<h2>Hello {{ profileInfo?.email }}</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="UpdateUserInfo(userFormInfo)" #userFormInfo="ngForm">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      expanded="true"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          matInput
          placeholder="name"
          type="text"
          name="name"
          [ngModel]="profileInfo?.name"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input
          matInput
          type="number"
          min="1"
          name="age"
         [ngModel]="profileInfo?.age"
        />
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Your Country Name </mat-panel-title>
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Country</mat-label>
        <input
          matInput
          type="text"
          name="country"
          [ngModel]="profileInfo?.country"
        />
      </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Your birthday </mat-panel-title>
        <mat-panel-description>
          Tell us about your day
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          type="date"
          name="date"
          [matDatepicker]="picker"
          (focus)="picker.open()"
          [ngModel]="profileInfo?.birthday"
        />
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

    </mat-expansion-panel>
  </mat-accordion>
  <div>
        <button class="update" mat-raised-button color="primary" type="submit">Update</button>
  </div>


</form>

